<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Connexion</h1>
<form method="post" th:action="@{/login}">
  <label>Nom d'utilisateur :</label>
  <input type="text" name="username" required>
  <label>Mot de passe :</label>
  <input type="password" name="password" required>
  <button type="submit">Se connecter</button>
</form>
<p th:if="${param.error}" style="color:red;">Invalid username or password.</p>
<p th:if="${param.logout}" style="color:green;">You have been logged out.</p>

</body>
</html>